.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header {
  width: 100%;
  height: 87px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 15px 0px #d4d4d4;
  margin-top: -1px;
  align-items: center;
  border-left: none;
  padding-top: var(--dl-space-space-twounits);
  border-color: #f1ebeb;
  border-right: none;
  border-width: 0.5px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #0bbab5;
}
.home-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-button {
  top: 20px;
  left: 100px;
  width: 131px;
  bottom: 0px;
  height: 50px;
  display: flex;
  position: absolute;
  align-self: center;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: row;
  background-color: rgba(144, 74, 144, 0);
}
.home-image {
  left: 2px;
  width: 128px;
  bottom: -4px;
  height: 49px;
  position: absolute;
  object-fit: cover;
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: inline-flex;
  align-items: flex-start;
}
.home-button1 {
  left: 77.48vw;
  width: 110px;
  bottom: 0px;
  height: 90px;
  position: absolute;
  align-self: center;
  border-width: 0px;
  margin-right: 10px;
  border-radius: 0px;
  background-color: #c77fff;
}
.home-text {
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  text-transform: uppercase;
}
.home-button2 {
  left: 77.48vw;
  width: 110px;
  bottom: 0px;
  height: 90px;
  position: absolute;
  align-self: center;
  margin-left: 110px;
  border-width: 0px;
  border-radius: 0px;
  background-color: #d2e406;
}
.home-text3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.home-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 1600px) {
  .home-button2 {
    left: 77.48vw;
  }
}
@media(max-width: 1100px) {
  .home-button1 {
    left: 69.2vw;
  }
  .home-button2 {
    left: 69.2vw;
  }
}
@media(max-width: 991px) {
  .home-button1 {
    left: 70vw;
  }
  .home-button2 {
    left: 70vw;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-button {
    left: 50px;
  }
  .home-button1 {
    left: 60vw;
  }
  .home-button2 {
    left: 60vw;
    width: 110px;
  }
  .home-btn-group {
    display: none;
  }
}
@media(max-width: 380px) {
  .home-header {
    height: 60px;
    padding: var(--dl-space-space-unit);
  }
  .home-button {
    top: 15px;
    left: 30px;
    width: 87px;
    height: 31px;
  }
  .home-image {
    width: 82px;
    height: 33px;
  }
  .home-button1 {
    left: 54.2vw;
    width: 76px;
    height: 100%;
  }
  .home-text {
    font-size: 15px;
  }
  .home-button2 {
    left: 54.2vw;
    width: 76px;
    height: 100%;
    margin-left: 76px;
  }
  .home-text3 {
    font-size: 15px;
  }
}
