<div>
  <link href="./header.css" rel="stylesheet" />
  <div data-role="Header" class="header-header">
    <div class="header-container">
      <a href="index.html" class="header-button button"><span></span></a>
      <img
        alt="image"
        src="/playground_assets/kawasakilogo-200h.png"
        class="header-image"
      />
    </div>
    <div class="header-container1">
      <a href="aboutus1.html" class="header-aboutus button">
        <span>ABOUT US</span>
      </a>
      <a href="motorcycles.html" class="header-motorcycles button">
        <span>MOTORCYCLES</span>
      </a>
    </div>
  </div>
</div>
