.u-section-1 .u-sheet-1 {
  min-height: 462px;
}

.u-section-1 .u-form-1 {
  height: 281px;
  width: 529px;
  margin: 66px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-top: 30px !important;
}

.u-section-1 .u-form-group-2 {
  margin-top: -20px !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-group-2 {
    margin-top: -20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}