.u-section-1 .u-sheet-1 {
  min-height: 551px;
}

.u-section-1 .u-form-1 {
  height: 574px;
  width: 606px;
  margin: 17px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-top: 25px !important;
}

.u-section-1 .u-form-group-3 {
  margin-top: 75px !important;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
  margin-top: 0;
}

.u-section-1 .u-line-1 {
  width: 606px;
  transform-origin: left center 0px;
  margin: -308px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-group-4 {
    height: 164px;
    width: 570px;
    margin-right: 0;
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-form-group-4 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-4 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
}