.header-header {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 1;
  position: sticky;
  max-width: 3200px;
  align-items: center;
  border-color: #000000;
  border-width: 1px;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  border-top-color: white;
  border-left-color: transparent;
  border-right-color: white;
}
.header-container {
  width: 500px;
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-button {
  width: 449px;
  cursor: pointer;
  height: 38px;
  position: absolute;
  border-color: #ff0000;
  border-style: hidden;
  text-decoration: none;
  background-color: transparent;
}
.header-image {
  width: 25rem;
  margin-top: 1rem;
  object-fit: cover;
}
.header-container1 {
  width: 724px;
  height: 63px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: -100rem;
  padding-right: 0rem;
  flex-direction: row-reverse;
}
.header-aboutus {
  color: rgba(0, 0, 0, 0.99);
  cursor: pointer;
  height: 35px;
  display: flex;
  font-size: 1.3rem;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  padding-top: 1rem;
  border-color: #ffffff;
  border-style: hidden;
  padding-right: 3rem;
  padding-bottom: 2.5rem;
  text-decoration: none;
  background-color: transparent;
}
.header-motorcycles {
  color: rgba(0, 0, 0, 0.99);
  cursor: pointer;
  height: 35px;
  display: flex;
  font-size: 1.3rem;
  align-self: flex-start;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  padding-top: 1rem;
  border-color: #ffffff;
  border-style: hidden;
  margin-right: 6rem;
  padding-right: 0rem;
  padding-bottom: 2.5rem;
  text-decoration: none;
  background-color: transparent;
}
.header-root-class-name {
  margin-bottom: 0px;
}
.header-root-class-name1 {
  width: 100.3%;
  max-width: 3200px;
  min-width: 84%;
  margin-top: -0.1rem;
  background-color: #ffffff;
}
.header-root-class-name2 {
  width: 100.3%;
  max-width: 3200px;
  min-width: 84%;
  margin-top: -0.1rem;
  background-color: #ffffff;
}
.header-root-class-name4 {
  width: 100.3%;
  max-width: 3200px;
  min-width: 84%;
  margin-top: -0.1rem;
  background-color: #ffffff;
}
.header-root-class-name3 {
  width: 100.3%;
  max-width: 3200px;
  min-width: 84%;
  margin-top: -0.1rem;
  background-color: #ffffff;
}
.header-root-class-name5 {
  width: 100.3%;
  max-width: 3200px;
  min-width: 84%;
  margin-top: -0.1rem;
  background-color: #ffffff;
}
@media(max-width: 1600px) {
  .header-header {
    max-width: 1600px;
    background-color: #FFFFFF;
  }
  .header-button {
    color: #000000;
    width: 451px;
    cursor: pointer;
    position: absolute;
    border-color: #5e0d0d;
    border-style: hidden;
    background-color: transparent;
  }
  .header-root-class-name1 {
    max-width: auto;
  }
  .header-root-class-name2 {
    max-width: auto;
  }
  .header-root-class-name4 {
    max-width: auto;
  }
  .header-root-class-name3 {
    max-width: auto;
  }
  .header-root-class-name5 {
    max-width: auto;
  }
}
@media(max-width: 1200px) {
  .header-header {
    background-color: #FFFFFF;
  }
  .header-root-class-name1 {
    width: 100.3%;
    max-width: auto;
    min-width: 84%;
    margin-top: -0.1rem ;
  }
  .header-root-class-name2 {
    width: 100.3%;
    max-width: auto;
    min-width: 84%;
    margin-top: -0.1rem ;
  }
  .header-root-class-name4 {
    width: 100.3%;
    max-width: auto;
    min-width: 84%;
    margin-top: -0.1rem ;
  }
  .header-root-class-name3 {
    width: 100.3%;
    max-width: auto;
    min-width: 84%;
    margin-top: -0.1rem ;
  }
  .header-root-class-name5 {
    width: 100.3%;
    max-width: auto;
    min-width: 84%;
    margin-top: -0.1rem ;
  }
}
@media(max-width: 991px) {
  .header-header {
    max-width: 1320px;
    margin-bottom: var(--dl-space-space-triplequarter);
    background-color: #FFFFFF;
  }
  .header-image {
    width: 89.5%;
  }
  .header-container1 {
    width: 375px;
  }
  .header-aboutus {
    width: 35%;
    height: 100%;
    font-size: 1.1rem;
    margin-left: 0rem;
    padding-top: 1.2rem;
    padding-right: 0rem;
  }
  .header-motorcycles {
    width: 35%;
    height: 100%;
    font-size: 1.1rem;
    padding-top: 1.2rem;
  }
  .header-root-class-name1 {
    max-width: auto;
  }
  .header-root-class-name2 {
    max-width: auto;
  }
  .header-root-class-name4 {
    max-width: auto;
  }
  .header-root-class-name3 {
    max-width: auto;
  }
  .header-root-class-name5 {
    max-width: auto;
  }
}
@media(max-width: 767px) {
  .header-header {
    width: 485px;
    height: 0px;
    max-width: 991px;
    margin-top: 0rem;
    border-style: hidden;
    margin-bottom: 0rem;
    background-color: #FFFFFF;
  }
  .header-container {
    width: 191px;
    height: 13px;
  }
  .header-image {
    width: 156px;
  }
  .header-container1 {
    width: 141px;
    height: 21px;
    margin-left: 10%;
    margin-right: 1px;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .header-aboutus {
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: none;
    font-size: 0.5rem;
    margin-left: -4rem;
    padding-top: 1rem;
    margin-right: 0rem;
  }
  .header-motorcycles {
    color: #ffffff;
    width: 38%;
    display: none;
    font-size: 0.5rem;
    padding-top: 1rem;
    padding-left: 0%;
    padding-right: 25%;
  }
  .header-root-class-name {
    margin-bottom: 0px;
  }
  .header-root-class-name1 {
    width: 100%;
    height: 10px;
    max-width: 100%;
    min-width: 0px;
    margin-top: -1rem;
  }
  .header-root-class-name2 {
    max-width: auto;
  }
  .header-root-class-name4 {
    width: 100%;
    height: 10px;
    max-width: 100%;
    min-width: 0px;
  }
  .header-root-class-name3 {
    width: 100%;
    height: 10px;
    max-width: 100%;
    min-width: 0px;
    margin-top: -1rem;
  }
  .header-root-class-name5 {
    width: 100%;
    height: 10px;
    max-width: 100%;
    min-width: 0px;
    margin-top: -1rem;
  }
}

.aboutus-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  background-size: 100%;
  background-image: url("public/playground_assets/kawasakimain-1500w.png");
  background-repeat: no-repeat;
}
.aboutus-hero {
  width: 100%;
  height: 873px;
  display: flex;
  position: relative;
  transform: scale(1);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.aboutus-section1 {
  width: 100%;
  height: 1230px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: 5%;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #ffffff;
}
.aboutus-text {
  color: #03984a;
  font-size: 2.5rem;
  font-style: normal;
  margin-top: -2.5rem;
  font-family: Raleway;
  font-weight: 600;
}
.aboutus-container1 {
  width: 841px;
  height: 100%;
  display: flex;
  max-width: 1320px;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.aboutus-text1 {
  color: #03984a;
  font-size: 1.5rem;
  font-style: normal;
  margin-top: 1rem;
  text-align: justify;
  font-family: Raleway;
  font-weight: 600;
}
.aboutus-text2 {
  color: #000000;
}
.aboutus-text3 {
  color: #000000;
}
.aboutus-text4 {
  color: #000000;
}
@media(max-width: 1600px) {
  .aboutus-hero {
    height: 748px;
    padding-bottom: 4px;
  }
  .aboutus-section1 {
    height: 781px;
  }
  .aboutus-container1 {
    width: 744px;
  }
  .aboutus-text1 {
    width: 120%;
    font-size: 1rem;
    text-align: center;
  }
}
@media(max-width: 1200px) {
  .aboutus-container {
    background-size: contain;
    background-image: url("public/playground_assets/kawasakimain2-1500w.png");
    background-position: top left;
  }
  .aboutus-hero {
    height: 557px;
  }
  .aboutus-section1 {
    width: 80%;
    height: 934px;
    align-self: center;
  }
  .aboutus-text {
    margin-top: 0rem;
  }
}
@media(max-width: 991px) {
  .aboutus-container {
    background-size: contain;
    background-image: url("public/playground_assets/kawasakimain2-1500w.png");
  }
  .aboutus-section1 {
    height: 908px;
  }
  .aboutus-text {
    margin-top: -5rem;
  }
  .aboutus-text1 {
    width: 110%;
    font-size: 1.15rem;
    margin-top: 1rem;
  }
}
@media(max-width: 767px) {
  .aboutus-hero {
    height: 353px;
  }
  .aboutus-section1 {
    width: 100%;
    height: 959px;
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-doubleunit);
  }
  .aboutus-text {
    font-size: 1.5rem;
    margin-top: 0rem;
  }
  .aboutus-container1 {
    width: 439px;
  }
  .aboutus-text1 {
    width: 150%;
    font-size: 1rem;
    margin-top: 1rem;
  }
}
@media(max-width: 479px) {
  .aboutus-section1 {
    height: 456px;
  }
  .aboutus-text {
    font-size: 1.5rem;
  }
  .aboutus-text1 {
    font-size: 0.7rem;
  }
}
