.header {
  height: 55px;
  background-color: #0bbab5;
  margin-top: -9px;
  margin-right: -8px;
  margin-left: -8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}

.left-section {
  align-items: center;
  display: flex;
}

.burger {
  height: 25px;
  margin-left: 20px;
  margin-right: 0px;
}

.logo {
  height: 30px;
}

.right-section {
  width: 250px;
  display: flex;
  align-items: center;
}

.buy-button,
.sell-button {
  padding: 20px 30px;
  height: 55px;
  border: none;
  font-weight: 700;
  color: #3A3A3A;
  cursor: pointer;
  font-size: 14px;
}

.buy-button {
  background-color: #c77fff;
  margin-right: 0;
}

.buy-button:hover {
  background-color:  #ead0ff;
}

.buy-button:active {
  background-color: #c77fff;
  box-shadow: 2px 3px 4px 1px  #9757c7 inset;
}

.sell-button {
  margin-left: 0;
  background-color: #f0ff7f;
} 

.sell-button:hover {
  background-color:  #f4fac4;
}

.sell-button:active {
  background-color: #f0ff7f;
  box-shadow: 2px 3px 4px 1px #8c9830 inset;
}

.cart {
  margin-left: 20px;
  height: 20px;
  margin-right: 7px;
}

.products {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  gap: 20px;
}

.product {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  max-width: 250px; 
  flex-direction: column; 
}

.productimg {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.product-detail {
  font-family: "Inter", sans-serif;
  font-size: 10.5px;
  color:#3A3A3A;
  font-weight: 500;
  margin-top: 0px;
  line-height: 12px;
}

.productname {
  font-size: 13.5px;
  font-weight: 700;
  color:#000000;
}

.productprice {
  font-weight: 600;
  font-size: 13px;
  color:#009b91;
}

@media (max-width: 1000px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .products {
    margin: 20px 10px;
  }  
  .productimg {
    height: 160px;
  }  
}